{{define "content"}}
    <div class="section-title">
        <h2>{{.title}}</h2>
    </div>

    <table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Address</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {{range $user := .users}}
            <tr>
                <td>{{$user.ID}}</td>
                <td>{{$user.Name}}</td>
                <td>{{$user.Email}}</td>
                <td>{{$user.PhoneNumber}}</td>
                <td>{{$user.Address}}</td>
                <td><a href="{{EditUserPath $user}}">Edit</a></td>
            </tr>
        {{end}}
    </tbody>
    </table>
{{end}}