{{define "content"}}
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Simple Go App</h1>
    </div>
  </section>
{{end}}